/**
 * base
 */
@use 'sass:math';

html {
    font-size: 62.5%;
}

body {
    min-height: 100lvh;
    font-family: Inconsolata, monospace;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: math.div(-0.5em, 20);
    color: var(--color-white);
    background-image: url('../assets/images/pattern-squiggly-line-top.svg'), url('../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'), url('../assets/images/background-mobile.png');
    background-size: 11.2rem auto, 30rem auto, cover;
    background-repeat: no-repeat;
    background-position: top 2.39rem right, bottom left, center;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -1px;
}

label {

}
