/**
 * custom properties
 */

:root {
    --color-white: #FFF;
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-neutral-300: hsl(252, 6%, 83%);;
    --color-neutral-500: hsl(245, 15%, 58%);
    --color-neutral-700: hsl(245, 19%, 35%);
    --color-neutral-900: hsl(248, 70%, 10%);
    --color-range-500: hsl(7, 88%, 67%);
    --color-range-700: hsl(7, 71%, 60%);
    --color-gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);

    // Sizes
    --max-content-width: 120rem;
    --content-margin-side: max(1.6rem, calc((100vw - var(--max-content-width)) / 2));
    --default-radius: 1.2rem;
}
