/**
 * reset
 */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    appearance: none;
}

img,
svg {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}
