/**
 * font-face
 */

@font-face {
    font-family: Inconsolata;
    src: url('../assets/fonts/Inconsolata-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: Inconsolata;
    src: url('../assets/fonts/Inconsolata-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-style: italic;
}
